<div class="container">
    <ul>
        <li>
            <div class="blog-content">
                <div class="blog-title">
                    <a href="{{ path('auteur_index') }}"><h5>Author Manager</h5></a>
                </div>
            </div>
        </li>
        <li>
            <div class="blog-content">
                <div class="blog-title">
                    <a href="{{ path('Storie_index') }}"><h5>Storie Manager</h5></a>
                </div>
            </div>
        </li>
        <li>
            <div class="blog-content">
                <div class="blog-title">
                    <a href="{{ path('categorie_index') }}"><h5>Categorie Manager</h5></a>
                </div>
            </div>
        </li>
    </ul>
</div>