<div class=" breadcrumbs-content">
    <ul id="nav" class="navbar-nav align-items-center">
        <li class="nav-item">
            <a href="{{ path('auteur_index') }}" class="nav-link title"><h3>Author Manager</h3></a>
        </li>
        <li class="nav-item">
            <a href="{{ path('storie_index') }}" class="nav-link"><h3>Storie Manager</h3></a>
        </li>
        <li class="nav-item">
            <a href="{{ path('categorie_index') }}" class="nav-link"><h3>Categorie Manager</h3></a>
        </li>
    </ul>
</div>